brightway2==2.4.3
bw2analyzer==0.10
bw2calc==1.8.2
bw2data==3.6.6
bw2io==0.8.8
bw2parameters==1.1.0
coverage
graphviz
plotly
pyDOE
PySide2==5.15.2.1
pytest
pytest-cov
pytest-flake8
swolfpy_inputdata
swolfpy_processmodels
xlrd==1.2.0
